<div>
  <mat-card>

    <form [formGroup]='registerUser' (ngSubmit)='onSubmit()'>

      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Ex: John" formControlName='firstName'>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Middle Name or Initial</mat-label>
        <input matInput placeholder="Ex: Mike or M" formControlName='middleName'>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Ex: Doe" formControlName='lastName'>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex: john@doe.com" formControlName='email'>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput formControlName='age'>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <input matInput formControlName='gender'>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Ex: 123-456-7890" formControlName='phoneNumber'>
        <!-- <example-tel-input formControlName="phoneNumber" ></example-tel-input> -->
        <!-- <mat-icon matSuffix>phone</mat-icon> -->
        <mat-hint>Include area code</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName='password'>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName='confirmPassword'>
      </mat-form-field>
      <br>
      <span *ngIf="registerUser.errors?.mismatchedFields">Please make sure that passwords match</span>
      <br>
      <button mat-raised-button>Register</button>
    </form>

  </mat-card>
</div>
