<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Subaru</mat-card-title>
    <mat-card-subtitle>WRX STI</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <p>
      The Subaru WRX and WRX STI are compact performance sedans with room for up to five people.
      They have turbocharged engines, performance-oriented all-wheel-drive systems and racy bodywork.
      The WRX has a 268-horsepower, turbocharged 2.0-liter four-cylinder engine, and the high-output WRX STI has a 310-hp, turbocharged 2.5-liter four-cylinder.
      It also includes other high-performance hardware like Brembo brakes and a driver-controlled center differential.
      The WRX faces competition from the Honda Civic Si and Volkswagen Golf GTI, while the WRX STI goes up against the VW Golf R and Honda Civic Type R.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['/car_details/123']">More Details</button>
    <!-- <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>
